<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario recuperación password</title>
</head>
<body>
    <form action="http://localhost:3000/api/v1/users/newPassword" method="POST">
        <p>
            <label for="new_password">Introduce el nuevo password: </label>
            <input type="password" id="new_password" name="new_password">
        </p>
        <p>
            <label for="password_validator">Vuelve a introducir el nuevo password: </label>
            <input type="password" id="password_validator" name="password_val">
        </p>
        <p>
            {{#if username}}
                <input type="hidden" name="username" value="{{username}}">
            {{/if}}
            <input type="hidden" name="_method" value="patch">
            <input type="submit">
        </p>
    </form>
</body>
</html>